{% extends 'base.html' %}

{% block head %}
<title>{{ title }} - Je0ngmin의 블로그</title>
<meta name="description" content="{{ description }}">
<meta property="date" content="{{ released_at }}">

<meta name="og:title" content="{{ title }} - Je0ngmin의 블로그">
<meta name="twitter:title" content="{{ title }} - Je0ngmin의 블로그">
<meta name="og:description" content="{{ description }}">
<meta property="og:type" content="article">
<meta name="keywords" content="{{ keywords }}">
<meta property="og:url" content="https://je0ngmin.github.io/{{ url }}">
<link rel="canonical" href="https://je0ngmin.github.io/{{ url }}">
{% endblock %}

{% block main %}
<a class="go-to-list" href="/">글 목록으로 돌아가기</a>
<div class="article">
  <div class="article-title">
    {{ title }}
  </div>
  <time class="metadata" datetime="{{ released_at }}">작성일: {{ released_at }}</time>
  <hr />
  <article class="markdown-body">
    <h1 class="sr-only">
      {{ title }}
    </h1>
    {{ content }}
  </article>
  <hr />
  <script src="https://utteranc.es/client.js"
        repo="je0ngmin/je0ngmin.github.io"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>
{% endblock %}