{% extends 'base.html' %}

{% block head %}
<title>{{ title }} - je0ngmin</title>
<link rel="stylesheet" href="/markdown.css">
<meta name="description" content="{{ description }}">
<meta property="date" content="{{ released_at }}">
<meta name="og:title" content="{{ title }} - je0ngmin">
<meta name="og:description" content="{{ description }}">
<meta property="og:type" content="article">
<meta name="keywords" content="{{ keywords }}">
<meta property="og:url" content="https://je0ngmin.github.io/{{ url }}">
<link rel="canonical" href="https://je0ngmin.github.io/{{ url }}">
{% endblock %}

{% block main %}
<div class="article">
  <div style="height:32px;"></div>
  <time
    class="metadata"

    datetime="{{ released_at }}"
  >
    {{ released_at_display }}
  </time>
  <div class="article-title">
    {{ title }}
  </div>
  <div style="height:24px;"></div>
  <article class="markdown-body">
    <h1 class="sr-only">
      {{ title }}
    </h1>
    {{ content }}
  </article>
  <hr />
  <script src="https://utteranc.es/client.js"
        repo="je0ngmin/je0ngmin.github.io"
        issue-term="{{ slug }}"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>
{% endblock %}
