<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/github-profile-image.webp"/>
    <link rel="apple-touch-icon" href="/assets/github-profile-image.webp"/>
    <meta name="scaffolded-by" content="https://github.com/dart-lang/sdk">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="robots" content="index, follow">
    {% block head %}
    <title>Je0ngmin의 블로그</title>
    <meta property="og:title" content="Je0ngmin의 블로그">
    <link rel="canonical" href="https://je0ngmin.github.io">
    {% endblock %}
    <link rel="stylesheet" as="style" href="styles.css">
    <link rel="stylesheet" as="style" href="markdown.css">
    <link rel="preload" href="/assets/github-profile-image.webp" as="image">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css" />
</head>

<body>
  <header>
    <a href="/" class="root-link">
      <img src="/assets/github-profile-image.webp" width="36" height="36" />
      <div class="title">je0ngmin.github.io</div>
    </a>
    <div style="flex: 1;"></div>
    <a class="github-link" href="https://github.com/je0ngmin" target="_blank">
      GitHub
    </a>
  </header>
  <div id="main">
    {% block main %}
    <div id="output">

    </div>
    {% endblock %}
  </div>
</body>
</html>
