{% extends 'base.html' %}


{% block main %}

<section class="first-hero">
    <section class="main">
        <div class="halftone" aria-hidden="true">
            {% for _ in range(240) %}
            <div class="halftone-dot"></div>
            {% endfor %}
        </div>
    </section>
    <script src="/halftone.js" defer></script>
</section>

<h2 class="sr-only">작성한 글 목록</h2>
<ul id="article-list">
    {% for article in articles %}
    <li aria-label="{{ article.title }}">
        <div class="content">
            <a class="title" href="/{{ article.url }}">{{ article.title }}</a>
            <p class="description">{{ article.description }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
